*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0 ;
    left: 0;
    background: rgba(255,255,255,0);
}
.container{
    width: 85%;
    margin: 0 auto;
}
nav #nav-brand{
    display: block;
    width: 30%;
    float: left;
    box-sizing: border-box;
    font-family: 'Merriweather',serif;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgba(255,255,255,0.7);
}
nav #nav-brand:hover{
    color: white;
}
nav ul{
    width: 70%;
    float: right;
    list-style: none;
    text-align: right;
    box-sizing: border-box;
}
nav ul li{
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
}
nav ul li a{
    font-family: 'MerriWeather',serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
}
nav ul li a:hover{
    color: white;
}
.clear-fix{
    clear: both;
}
/* header */
header{
    width:100%;
    height: 100vh;
    background:linear-gradient(rgba(92,77,66,.7),rgba(92,77,66,0.7)), url(../images/bg15.jpg);
    background-size:cover;
    
    background-repeat: no-repeat;
    text-align: center ;
}

header .row{
    padding: 200px 100px;
    box-sizing:border-box;

}
header h1{
    color: white;
    font-family: 'Merriweather',serif;
    font-weight: 700;
    font-size: 3.5rem;
    text-transform: uppercase;
}
header span{
    display: inline-block;
    width: 54px;
    border: 2px solid #f4623a;
    margin: 30px 0;
}
header p{
    color:rgba(255,255,255,0.9);
    font-family: 'Merriweather',serif;
    font-weight: 300;
    font-size: 1.15rem;
    padding: 0 50px;
    line-height: 1.5;
    padding: 0 115px;
}
header #heading-link{
    display: inline-block;
    padding: 25px 35px;
    background:#f4623a ;
    color: white;
    font-family: 'Merriweather',serif;
    text-decoration: none;
    font-size: 0.85 rem;
    font-weight: 700;
    border-radius: 50px;
    margin-top: 50px;
    word-spacing: 2px;
}
header #heading-link:hover{
    background-color: #f24516;
}
.underline{
    display: inline-block;
    width: 54px;
    border: 2px solid #f4623a;
    margin: 30px 0;
}
/* skills section */
section#skills{
    width: 100%;
}
section#skills .row{
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
section#skills h2{
    font-family: 'Merriweather',serif;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
}
section#skills .skills-items{
    width: 100%;
}
section#skills .skills-items .item{
    display: block;
    width: 25%;
    padding: 30px 10px;
    box-sizing: border-box;
    float: left;

}

section#skills .skills-items .item p{
    padding-left: 20px;
}
section#skills .item .fab{
    color:#3ac9f4;
    font-size:4rem;
    padding: 10px 0;
}
section#skills .item ul{
    text-align: left;
    padding-left: 10px;
    padding-top: 30px;
}
section#skills .item ul li::after{
    content: ":";
}
section#skills .item img{
    box-sizing: border-box;
    width:45%;
    height: 100px;
    padding: 10px 0;
    
}

/* Contact  */
footer{
    width: 100%;
    background:linear-gradient(rgba(92,77,66,.8),rgba(92,77,66,0.8));
}
footer .row{
    text-align: center;
    padding: 50px 0;
}
footer h2{
    font-family: 'Merriweather', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
}
footer p{
    font-family: 'Merriweather', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:#6c757d;
    padding: 0 210px;
}
footer ul{
    width:100%;
    list-style: none;
    padding: 30px 0;
}
footer ul li{
    display: inline-block;
    width:20%;
}
footer ul  p{
    font-family: 'Merriweather',serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;
    margin-top: 20px;
}
footer ul i{
    color:rgb(255,255,255);
    font-size: 4rem;
}
/* skill bar  */
.skill-container{
    margin-left: 20px;
    width: 80%; /* Full width */
    background-color: #ddd; /* Grey background */
}
.skill-bar {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  .html {width: 90%; background-color: #4CAF50;} /* Green */
  .css {width: 80%; background-color: rgb(33, 37, 243);} /* Blue */
  .jQuery {width: 65%; background-color: #36f4e4;} 
  .bootstrap {width: 50%; background-color: #808080;} 
  .mysql{width: 50%; background-color: #808080;}
  .cassandra{width: 30%; background-color: #c0bd12;}
  .software-engineering{width: 40%; background-color: #aadb22;}
  .network{width: 20%; background-color: #dfa403;}
  .linux{width: 15%; background-color: #eb6912;}
  